{{extend 'plugin_layouts/layouts/KeepitSimple.html'}}

<div align="center">
  <h3>Create a Date</h3>

  <img src="{{=URL('download', args=pet1.picture)}}"
       style="width:350px; height:350px; float:center; margin-right: 15px; margin-bottom: 15px;">
  <img src="{{=URL('download', args=pet2.picture)}}"
       style="width:350px; height:350px; float:center; margin-right: 15px; margin-bottom: 15px;">

  {{=form}}

  <p style="margin-top: 10px;"
     >Disclaimer: We are not liable for any injuries caused to pets or their owners on dates
  </p>
</div>
